<div class="container__big-card">
  <div class="big-card__picture">
    <img src="../../../assets/Portifolio.png" alt="" />
  </div>
  <div class="big-card__title">
    <a
      href="https://my-portifolio-fi152ew6x-dansnt77.vercel.app/"
      target="_blank"
      ><h1>Lançamento!! Portifólio</h1></a
    >
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorum sed
      eius commodi illo provident laudantium repellendus iure eaque quaerat nisi
      atque nulla enim delectus, est culpa vitae voluptatum repudiandae?
    </p>
  </div>
</div>
